.footer
	border-top	1px solid #EEF1F3
	margin-top 30px
	padding-bottom 20px
	.footer-top
		.container
			max-width 1030px
			padding: 17px 0 21px 0
			border-bottom	1px solid #EEF1F3
		.ft-left
			float left
			li:nth-child(2)
				padding-left 9px
				border-left 1px solid #e5e5e5
		.ft-right
			float right
			li
				padding-left 18px
				padding-right 0
		ul
			line-height normal
			color #9196a4
			li
				font-size 12px
				padding-left 0
				padding-right 9px
				a
					text-decoration none
					color #A19BA5
			li.active
				border-bottom none
				a
					color #2469A6
	.footer-bottom
		padding-top 20px
		p
			margin 0
			font-size 11px
			color #A1ABB6
		.footer-logo
			float left
			margin-left 5px
		.fb-text
			float left
			margin-left 15px