/* header-top */
.header-top
	background-color #246AA6
	height 59px
	color #fff

.fa
	font-size 16px

.logo
	padding-top 16px
	float left
	.logo-01
		color #fff
		font-size 24px
		letter-spacing -1px
		line-height 21px
		padding-left 2px
	.logo-02
		color #A7A64D
		font-size 14px
		line-height 11px

.user-session
	float right
	.name-id
		text-align right
		padding 10.5px 0
		line-height normal
		padding-right 1rem
		.name
			font-size 14px
		.user-id
			color #6B9EC7
			font-size 12px
	.profile-picture	
		padding-right 2rem	
		height 59px
		img
			border-radius 100px
			line-height 59px
			margin 8.5px 0
	.notification
		padding-right 2rem
		position relative
	.sign-out
		font-size 12px
		i
			padding-right 5px

.name-id, .profile-picture, .notification, .sign-out
	float left
	line-height 59px
	
.circle-user
	position absolute
	top 1rem
	left 1rem
	font-size 7px
	color #eba330


/* header-bottom */
.header-bottom
	height 54px
	border-bottom 1px solid #EEF1F3

.hb-left
	float left
	.fa-home
		color #246aa6
		font-size 22px

ul
	line-height 54px
	padding-left 0
	margin 0
	li
		&:hover
			color #246AA6
			cursor pointer
		font-size 13px
		padding 0 1.5rem
		display inline-block
		color #9196A4
		position relative
		&.home-tab
			padding 0 1rem
		.fa-sort-down
			font-size 12px
			position absolute
			right 8px
			bottom 22px
	li.active
		border-bottom 3px solid #F9CE31

.hb-right
	float right