.s1-1
	float left
	h1
		font-size 28px
		margin-top 2.5rem
		margin-bottom 1rem

.s1-2
	float left
	margin-top 3.5rem
	margin-left 1.5rem
	color #9EA0AB

.s1-3
	float right
	margin-top 3.5rem
	color #449EDA

.fa-gear
	font-size 13px

.section2
	border 1px solid #d6d6d6
	-moz-box-shadow inset 1px 1px 7px #c1c1c1
	-webkit-box-shadow inset 1px 1px 7px #c1c1c1
	box-shadow inset 1px 1px 7px #c1c1c1
	padding 33px 38px
	padding-bottom 13px
	.s2-left
		float left
		width 52.611%
		padding-right 16px
	.s2-right
		float left
		width 47.39%
		padding-left 16px
	.pannel
		margin-bottom 24px

/* Box */

.box
	-webkit-box-shadow: 2px 2px 7px -1px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 5x 50px 6px -6px #777;
	position relative
.box1
	width 100%
	display flex
	border 1px solid #B7DDE8
	padding 10px 19px 16px 19px

	img
		display inline-block
		padding-top 11px

.view-more
	position absolute
	right 18px
	bottom 9px
	color #0000FF

.ide01
	display inline-block
	padding-left 19px
	.ide01-01, .ide01-02
		padding-top 9px
		padding-left 7px
		.fa, span
				color #0000FF
	.ideName
		font-weight bold

/* Box 2 */
.box2
	flex-direction column
	padding 0

.box-title
	border 1px solid #BEBEBE
	background #F3F3F3
	height 37px
	padding 5px 15px
	position relative
	.fa-close
		position absolute
		right 15px
		top 8.5px
		color #7F7F7F

.box-content
	padding: 10px 20px 8px 15px;
	border 1px solid #B7DDE8
	border-top none
	.ct-left
		float left
		font-size 11px
	.ct-right
		float right
		font-size 11px
	table
		width 100%
		border-collapse collapse
		margin-top 7px
		tr
			border-bottom 1px solid #b2b2b2
			line-height 22px
			td:first-child
				max-width 175px
			td:last-child
				float right
		.table-head
			color #0000FF
			border-bottom 1px solid #000
	select
		color #0000FF
		background #B7DDE8
		margin-top 5px
		border-color #4BACC6
		height 27px
		min-width 151px
	.view-more
		font-size 13px

/* Payables */
.box-content .payebles-table 
	tr
		line-height normal
	td:first-child
		max-width 145px

/* Account Overview */
.over-view
	font-size 11px
	table .table-head, table tr
		border-bottom 0
	table tr:nth-child(4)
		color #EE7D30
		border-bottom 1px solid #b2b2b2
		font-weight bold
	table tr:last-child
		font-weight bold
	h4
		font-size 11px
		color #5B9BD5
	.view-more
		right 22px
		bottom 16px

.canvas
	width 170px
	height 170px
	max-width 37%
	margin-top -16px
	margin-left -6px
	position relative
	display inline-block
	.graph-title
		position absolute
		top 52%
		left 50%
		transform translate(-50%, -48%)
		font-size 10px
	.graph-date
		text-align center
		margin-top 3px

.chartDetail
	float right
	width 100px
	margin-top 3px
	width 64%

.chart1
	border-bottom 1px solid #b2b2b2
	padding-bottom 18px

.chart2
	padding-bottom 10px
	.canvas
		margin-top 0
	table tbody tr:nth-child(1)
		color #70AD47
		border-bottom 1px solid #b2b2b2
		font-weight bold
	.ao-table-1
		margin-top 20px

/* Most Visited */
.most-visited
	.box-content
		padding-top 8px
	ul 
		line-height normal
		padding-left 5px
		li
			color #000
			text-align center
			padding-left 0
			padding-right 38px
			&:last-child
				padding-right 0
			.mv-title
				margin-top 8px

/* Forex Rate */
.forex-rate
	.box-content
		padding-bottom 27px
	.frc-left
		width 57%
		display inline-block
		float left
	.frc-right
		width 43%
		float left
		padding-left 17px
		padding-top 10px
	table 
		margin-top 5px
		tr 
			line-height 20px
			td:first-child
				width 77px
			td:nth-child(2)
				text-align right
				width 77px
	ul
		line-height normal
		li
			color #0000FF
			line-height 15px
			padding-bottom 17px

/* Profit and Loss */
.profit-loss
	.box-content
		padding-bottom 16px